@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px;
    min-height: 100vh;
    position: relative;
    background-color: #15202B;
}
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 /3 ;
    grid-row: 1 / 2;
    padding: 0 40px 0 40px;
    border: #22303c 2px solid;
    position: sticky;
    top: 0;
    background-color: #15202B;
    z-index: 1; 
}
.top-head{
    display: grid;
    grid-template-columns:2fr 1fr;
    justify-content: center;
    align-items: center;
}
.search-bar{
    display: flex;
    gap: 5px;
}
.search-icon{
    width: 50px;
    height: 45px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icons{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.user{
   display: flex;
   justify-content: flex-end;
   gap: 20px;
   align-items: center;
}
.user-name{
    color: rgb(16, 194, 238) ;
}
.pro-pic{
    min-width: 50px;
    min-height: 50px;
    background-color: red;
    border-radius: 25px;
    background-image: url("./Svgs/Nala.png");
    background-position: center ;
}
.user h4{
    font-size: 1.5rem;
}

input{
    width: 60%;
    background-color: #192734;
    border: none;
    height: 30px;
    border: 2px solid rgb(16, 194, 238);
    border-radius: 20px;
}
.bot-head{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.greeting{
    display: flex;
    align-items: center;
    gap:5px;
   
}
.greeting h2{
    font-size: 1.5rem;
    font-weight: 900;
}
.greeting-pic{
    min-width: 75px;
    height: 75px;
    background-image: url("./Svgs/Nala.png");
    background-position: center ;
    border-radius: 40px;
    background-color: red;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
.btn{
    width: 150px;
    min-width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid rgb(16, 194, 238);
    background:none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(16, 194, 238);
}
aside{
    grid-column: 1;
    grid-row: 1 / 3;
    border-right: #22303c 1px solid;
    padding: 20px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:200px 1fr 1fr;
    height: 100vh;
    position: sticky;
    top: 0;
    
}
.logo{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 15px;
}
.logo h1{
    font-size: 2.5rem;
    color:rgb(16, 194, 238); 
}
.top-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.top-list li{
    list-style-type: none;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    list-style-type: none;
}
.side-icon{
    display: flex;
    justify-content: center;

}

a{
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    height: 25px;
}
a:hover{
    font-size: 1.6rem;
    color: rgb(12, 198, 249);
    transition: 0.6;
}

.bot-list{
   padding-top: 100px;

}
main{
    grid-column: 2 /3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 40px;
    border-left: #22303c 2px solid;
}
.projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
 
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 25px;  
}
.card{
    background-color:#192734;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 50px;
    padding: 10px;
    height: 250px;
    border: 2px solid #22303c;
}
.card:hover{
    background-color:#22303c;
    border: 2px solid rgb(12, 198, 249) ;
}
.right-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    padding-left: 25px;
}
.card-icon{
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    
}
.card-icon:hover{
    width: 30px;
    height: 30px;
    

}
.announcements, .trending{ 
    background-color:#192734;
    
}
.captions{
    display: flex;
    align-items: center;
    color: rgb(16, 194, 238);
    font-size: 1.8rem;
    font-weight: 800;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-text p, .anoun-texts p{
    color: #8899A6;  
}
.card-text h3, .anoun-texts h3{
    color: #ffffff;

}
.card-icons{
    display:grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: flex-end;
    align-items: center;
    
}
.announcements{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}
.anoun-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
hr{
    background-color: rgb(16, 194, 238) ;
    height: 1px;
    border: none;
}
.trending{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.user-trending{
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.user-trending p{
    color: #8899A6;
}
.user-image{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50px;
}
.user-info h4{
    color: rgb(16, 194, 238) ;
}
.user-img-1{
    background-image: url("./Svgs/Thor.png");
    background-repeat: none;
    background-position: center;
}
.user-img-2{
    background-image: url("./Svgs/loki.png");
    background-repeat: none;
    background-position: center;
}
.user-img-3{
    background-image: url("./Svgs/kratos.png");
    background-repeat: none;
    background-position: center;
}
.user-img-4{
    background-image: url("./Svgs/odin.png");
    background-repeat: none;
    background-position: center;

}













